.gradle/
build/
**/build/
out/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.class
masonry-paper/run/
masonry-test/run/
masonry-test/run2/
masonry-test/run3/
masonry-test/run4/
.worktrees/
.superpowers/sdd/
