.gradle/
build/
**/build/
out/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.class
masonry-paper/run/
masonry-test/run/
masonry-test/run2/
masonry-test/run3/
masonry-test/run4/
.worktrees/
.superpowers/sdd/
masonry-test/run*/
masonry-test/plugins/
masonry-test/*.json
masonry-test/*.yml
masonry-test/cache/
masonry-test/config/
masonry-test/eula.txt
masonry-test/server.properties
masonry-test/libraries/
masonry-test/logs/
masonry-test/versions/
masonry-test/world/
masonry-test/.paper/
development-network/
.jdk/
.jdk-rpms/
